In [1]:
import numpy as np
import pandas as pd
import pylab as pl
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

## Reading the File

In [5]:
df = pd.read_csv("../ratings.csv")
df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

cluster0 movies

In [30]:
df_cluster0_movies = df[(df['movieId'] == 78) | (df['movieId'] == 406990) | (df['movieId'] == 244786) | (df['movieId'] == 395834) | (df['movieId'] == 397837) | (df['movieId'] == 417870) | (df['movieId'] == 419430) | (df['movieId'] == 296096) | (df['movieId'] == 129) | (df['movieId'] == 637)]
df_cluster0_movies['cluster'] = 0
del df_cluster0_movies['timestamp']
df_cluster0_movies.head()

<ipython-input-30-fa163d3bce29>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cluster0_movies['cluster'] = 0

       userId  movieId  rating  cluster
6502       63      637     1.5        0
10994     131       78     3.0        0
12144     150       78     3.0        0
14134     168      637     3.0        0
14834     180      637     3.0        0

cluster1 movies

In [31]:
df_cluster1_movies = df[(df['movieId'] == 339988) | (df['movieId'] == 316154) | (df['movieId'] == 440597) | (df['movieId'] == 403119) | (df['movieId'] == 360249) | (df['movieId'] == 269795) | (df['movieId'] == 195590) | (df['movieId'] == 11187) | (df['movieId'] == 250546) | (df['movieId'] == 15206)]
df_cluster1_movies['cluster'] = 1
del df_cluster1_movies['timestamp']
df_cluster1_movies.head()

Empty DataFrame
Columns: [userId, movieId, rating, cluster]
Index: []

cluster2 movies